pvlib
pandas
numpy
pytz
scipy
matplotlib
googlemaps==4.10.0
requests==2.31.0
folium
aiohttp
fuzzywuzzy
openmeteo-requests
requests-cache
retry-requests
geopandas
contextily
selenium
langchain
langchain-core
langchain-community
langchain-groq
langsmith
django
spacy 
joblib 
scikit-learn
social-auth-app-django
