<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_96181798f170cad5185400f245cd4219 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_96181798f170cad5185400f245cd4219" ></div>
        
</body>
<script>
    
    
            var map_96181798f170cad5185400f245cd4219 = L.map(
                "map_96181798f170cad5185400f245cd4219",
                {
                    center: [13.0842045, 80.1434146],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3901f5db052d1900871084b7868c6bdb = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_3901f5db052d1900871084b7868c6bdb.addTo(map_96181798f170cad5185400f245cd4219);
        
    
            var marker_be17d881b062a3e9ed3214a94c45b278 = L.marker(
                [13.0842045, 80.1434146],
                {}
            ).addTo(map_96181798f170cad5185400f245cd4219);
        
    
            var icon_da7ec3628af19cb6b5e894bdb4e272bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_be17d881b062a3e9ed3214a94c45b278.setIcon(icon_da7ec3628af19cb6b5e894bdb4e272bf);
        
    
        var popup_1de85154138e9d358656a549ea60d0bc = L.popup({"maxWidth": "100%"});

        
            
                var html_48c5988707b9e7047fde351040d4a2e8 = $(`<div id="html_48c5988707b9e7047fde351040d4a2e8" style="width: 100.0%; height: 100.0%;">Royal Club<br>Disturbing Factor: club<br>Distance: 518.73 m</div>`)[0];
                popup_1de85154138e9d358656a549ea60d0bc.setContent(html_48c5988707b9e7047fde351040d4a2e8);
            
        

        marker_be17d881b062a3e9ed3214a94c45b278.bindPopup(popup_1de85154138e9d358656a549ea60d0bc)
        ;

        
    
    
            var marker_66657f66746a3b2a2200d81037efce4b = L.marker(
                [13.0754487, 80.1537273],
                {}
            ).addTo(map_96181798f170cad5185400f245cd4219);
        
    
            var icon_6f72a184b2e511c7b73da3d96e302e57 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_66657f66746a3b2a2200d81037efce4b.setIcon(icon_6f72a184b2e511c7b73da3d96e302e57);
        
    
        var popup_07da865e835ac1bf1dbf83c32e04305e = L.popup({"maxWidth": "100%"});

        
            
                var html_a0ecd66b5993a66dfe589509eb6caf77 = $(`<div id="html_a0ecd66b5993a66dfe589509eb6caf77" style="width: 100.0%; height: 100.0%;">Doris India Engineers|Ribbon Blender,Masala Grinder,Industrial Conveyor,Roaster,Manufacturers<br>Disturbing Factor: manufacture<br>Distance: 1639.7 m</div>`)[0];
                popup_07da865e835ac1bf1dbf83c32e04305e.setContent(html_a0ecd66b5993a66dfe589509eb6caf77);
            
        

        marker_66657f66746a3b2a2200d81037efce4b.bindPopup(popup_07da865e835ac1bf1dbf83c32e04305e)
        ;

        
    
    
            var marker_d643107ab714eacb8c8c2e41af19525d = L.marker(
                [13.0831841, 80.1571712],
                {}
            ).addTo(map_96181798f170cad5185400f245cd4219);
        
    
            var icon_66b6929d35aa56cf2eda2aafe28ade18 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d643107ab714eacb8c8c2e41af19525d.setIcon(icon_66b6929d35aa56cf2eda2aafe28ade18);
        
    
        var popup_b6633c2cb3e9036a67cd515858cb133b = L.popup({"maxWidth": "100%"});

        
            
                var html_f168d5830f13fb3a05f0d2192f267f35 = $(`<div id="html_f168d5830f13fb3a05f0d2192f267f35" style="width: 100.0%; height: 100.0%;">Nutech CNC Private Limited | Plastic injection mold and products manufacturer | Chennai,India<br>Disturbing Factor: manufacture<br>Distance: 1328.89 m</div>`)[0];
                popup_b6633c2cb3e9036a67cd515858cb133b.setContent(html_f168d5830f13fb3a05f0d2192f267f35);
            
        

        marker_d643107ab714eacb8c8c2e41af19525d.bindPopup(popup_b6633c2cb3e9036a67cd515858cb133b)
        ;

        
    
    
            var marker_b3fddc66028fddbb042f06cc53516977 = L.marker(
                [13.0849717, 80.1571785],
                {}
            ).addTo(map_96181798f170cad5185400f245cd4219);
        
    
            var icon_b66d907cd1fcf322fbec8e830df9ccda = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b3fddc66028fddbb042f06cc53516977.setIcon(icon_b66d907cd1fcf322fbec8e830df9ccda);
        
    
        var popup_0a5038133435f359c0189c80281d918d = L.popup({"maxWidth": "100%"});

        
            
                var html_e7b7e7901fdb204911ebdc19ee60401f = $(`<div id="html_e7b7e7901fdb204911ebdc19ee60401f" style="width: 100.0%; height: 100.0%;">AMBIGA INDUSTRIE, Material Handling Equipment Manufacturer.<br>Disturbing Factor: factory<br>Distance: 1260.45 m</div>`)[0];
                popup_0a5038133435f359c0189c80281d918d.setContent(html_e7b7e7901fdb204911ebdc19ee60401f);
            
        

        marker_b3fddc66028fddbb042f06cc53516977.bindPopup(popup_0a5038133435f359c0189c80281d918d)
        ;

        
    
    
            var marker_56a1052d51d9784e41d09d6c2f4cf8a9 = L.marker(
                [13.0814691, 80.1560143],
                {}
            ).addTo(map_96181798f170cad5185400f245cd4219);
        
    
            var icon_e1d0579b0144601660d9114058ce9aca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_56a1052d51d9784e41d09d6c2f4cf8a9.setIcon(icon_e1d0579b0144601660d9114058ce9aca);
        
    
        var popup_9945f7ae5eba387b4fff196c3fc248d8 = L.popup({"maxWidth": "100%"});

        
            
                var html_48610dc1de1d2e1db7ba3cdabb5a8f49 = $(`<div id="html_48610dc1de1d2e1db7ba3cdabb5a8f49" style="width: 100.0%; height: 100.0%;">Stanson Rubber Products<br>Disturbing Factor: manufacture<br>Distance: 1313.26 m</div>`)[0];
                popup_9945f7ae5eba387b4fff196c3fc248d8.setContent(html_48610dc1de1d2e1db7ba3cdabb5a8f49);
            
        

        marker_56a1052d51d9784e41d09d6c2f4cf8a9.bindPopup(popup_9945f7ae5eba387b4fff196c3fc248d8)
        ;

        
    
    
            var marker_645ed056c49503224002099249faafb2 = L.marker(
                [13.088130352528951, 80.1460017408729],
                {}
            ).addTo(map_96181798f170cad5185400f245cd4219);
        
    
            var icon_7a34a56dc175cffd65d8a95bb78abc9b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_645ed056c49503224002099249faafb2.setIcon(icon_7a34a56dc175cffd65d8a95bb78abc9b);
        
    
        var popup_ae222ffe64871f6e8702884c043bb73f = L.popup({"maxWidth": "100%"});

        
            
                var html_1314aa590e36c919b1ab4181ef678055 = $(`<div id="html_1314aa590e36c919b1ab4181ef678055" style="width: 100.0%; height: 100.0%;">Your Location</div>`)[0];
                popup_ae222ffe64871f6e8702884c043bb73f.setContent(html_1314aa590e36c919b1ab4181ef678055);
            
        

        marker_645ed056c49503224002099249faafb2.bindPopup(popup_ae222ffe64871f6e8702884c043bb73f)
        ;

        
    
</script>
</html>